/assets
/obj
/deos.in
/deos.log
/deos.out
/deos.out.*
/deos.cmd
/.gdbinit
/wget.log
/qemu.pcap
/qemu.pcap.*
/qemu.out
/qemu.log
/gradelib.pyc
/.vscode
/lab*-handin.tar.gz
/lab?/
/sol?/
/myapi.key
/.suf
/.out
